body {
    background: url(podolski.jpg);
    background-repeat: no-repeat;
    background-size:1350px 1000px;
}


img {
    width: 100px;
    height: 100px;
}

h3 {
    color:cyan
}


p {
    color:darkcyan;
    font-family: comic sans MS; 
}


